<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @reply.post %>
</p>

<p>
  <strong>Body:</strong>
  <%= @reply.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
